<div class="_full">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cat Quotes</span>
  </mat-toolbar>
  <div
    infiniteScroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollLoadData()"
    class="cat-quotes-wrapper"
  >
    <app-cat-quote
      *ngFor="let quote of quotesList"
      [quote]="quote"
    ></app-cat-quote>
  </div>

  <div *ngIf="isLoading" class="flex-center loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>
