<div class="full-width full-height">
  <div class="login-card-wrapper">
    <div class="login-card">
      <img height="50" src="./../../../assets/cat-logo.png" />
      <h1>Sign in</h1>

      <p>Don't have an account? <a href="login">Sign up</a></p>

      <form [formGroup]="loginFormGroup">
        <mat-form-field class="width-100-percent" appearance="outline">
          <mat-label>Email address</mat-label>
          <input formControlName="email" matInput />
          <mat-error>Invalid field</mat-error>
        </mat-form-field>

        <mat-form-field class="width-100-percent" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput />
          <mat-error>Invalid field</mat-error>
        </mat-form-field>

        <div class="space-between">
          <mat-checkbox> Remember me </mat-checkbox>
          <a href="login">Forgot password?</a>
        </div>
      </form>

      <button
        (click)="login()"
        [disabled]="loginFormGroup.invalid"
        class="stroked-btn width-100-percent"
        mat-stroked-button
      >
        Login
      </button>

      <h4 class="divider">
        <span class="divider-text"> Or continue with </span>
      </h4>

      <button
        color="primary"
        class="stroked-btn width-100-percent"
        mat-stroked-button
      >
        <mat-icon>facebook</mat-icon>
      </button>
    </div>
  </div>
</div>
